#!/bin/bash

function newb() {
    git checkout -b $1
}

function rnewb() {
    git checkout --track origin/$1
}

function pushup() {
    git push -u origin $1
}

function fetchbase() {
  remote="upstream"
  branch="master"
  while (( "$#" )); do
    case $1 in
      "-r" | "--remote")
        remote=$2
        shift
        shift
        ;;
      "-b" | "--branch")
        branch=$2
        shift 
        shift 
        ;;
    esac
  done
  echo "Fetching from $remote $branch"
  git fetch "$remote" "$branch"
  echo "Rebasing onto $remote/$branch"
  git rebase "$remote/$branch"
}

function gbase() {
  trunk=$(git branch -l | grep -E '( main$| master$)' -o | sed 's/^ *//g')
  git checkout $trunk
}
