#!/bin/bash

function odnt {
  case $1 in
    "-a" | "--alias")
      name=$2
      command=$3
      al="alias $name='$command'"
      echo "Adding $al to the list of aliases"
      sudo echo "$al" >> ~/.bashrc
      ;;
   "-e" | "--edit")
      sudo vim ~/.bashrc
      ;;
   "-l" | "--list")
      if [-z "$2" ]
      then
          cat ~/.bashrc | grep "alias"
      else
          cat ~/.bashrc | grep "alias $2"
      fi
      ;;
   "-r" | "--rename")
      name=$2
      command=$3
      sed -i '' "/alias $name/d" ~/.bashrc
      al="alias $name='$command'"
      echo "Adding $al to the list of aliases"
      sudo echo "$al" >> ~/.bashrc
      ;;
  esac
  . ~/.bashrc
}
